* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.header {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}